
:root{
    --primary-color:#F9F9FB;
    --secondary-color: #ffff;

    --table-stroke: #E1E2E3;

    --light-grey: #E1E2E3;
    --grey: #949499;
    --dark-grey: #4E4F54;
    --select-grey: #ccc;
    --dark : #171717;
   

    --light-blue: #e6f7ff;
    --blue: #5a8bc4;
    --dark-blue: #005CC8;


}
               